@model Practica_5_2.Models.Productos

@{
    ViewBag.Title = "Crear Producto";
}

<h2>Crear</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!-- DESCRIPCION -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Descripcion", required = "required" })
                @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <!-- CANTIDAD -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control", placeholder = "Cantidad", required = "required" })
                @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <!-- PRECIO -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Precio, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Precio, new { @class = "form-control", placeholder = "Precio", required = "required" })
                @Html.ValidationMessageFor(m => m.Precio, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <!-- STOCK -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Stock, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", placeholder = "Stock", required = "required" })
                @Html.ValidationMessageFor(m => m.Stock, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <!-- ESTADO -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Estado, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Estado, new { @class = "form-control", placeholder = "Estado", required = "required" })
                @Html.ValidationMessageFor(m => m.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

<div>
    <a href="/Productos/" class="btn btn-info">Regresar</a>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
