@model Practica_5_2.Models.Empleados

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!-- NOMBRES -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Nombres, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", placeholder = "Nombres", required = "required" })
                @Html.ValidationMessageFor(m => m.Nombres, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <!-- APELLIDOS -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control", placeholder = "Apellidos", required = "required" })
                @Html.ValidationMessageFor(m => m.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div><br />

        <!-- CEDULA -->
        <div class="row">
            <div class="col-sm-1">
                <h5>@Html.LabelFor(m => m.Cedula, htmlAttributes: new { @class = "control-label col-md-2" }) </h5>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Cedula, new { @class = "form-control", placeholder = "Cedula", required = "required" })
                @Html.ValidationMessageFor(m => m.Cedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>

    }
</div>

<div>
    <a href="/Empleados/" class="btn btn-info">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
