@model IEnumerable<Practica_5_2.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <a href="/Clientes/Create" class="btn btn-success">Crear</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-bordered">
    <tr class="bg-warning">
        <th>
            @Html.DisplayName("Codigo")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayName("Opciones")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            <a href="/Clientes/Details/?id=@item.IdCliente" class="btn btn-primary">Detalles</a>
            <a href="/Clientes/Edit/?id=@item.IdCliente" class="btn btn-warning">Editar</a>
            <a href="/Clientes/Delete/?id=@item.IdCliente" class="btn btn-danger">Eliminar</a>

            @*@Html.ActionLink("Edit", "Edit", new { id = item.IdCliente }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdCliente })*@
        </td>
    </tr>
}

</table>
